/* Default Theme */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --background-color: #f4f4f9;
    --text-color: #333;
    --header-color: white;
    --footer-background-color: #333;
    --footer-text-color: white;
  
    --chart-color-1: #FF6384;
    --chart-color-2: #36A2EB;
    --chart-color-3: #FFCE56;
    --chart-color-4: #4BC0C0;
    --chart-color-5: #9966FF;
  }
  
  /* Dark Theme */
  body.dark {
    --primary-color: #1e88e5;
    --secondary-color: #fff;
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-color: #1e88e5;
    --footer-background-color: #1e88e5;
    --footer-text-color: #e0e0e0;
  
    --chart-color-1: #EF5350;
    --chart-color-2: #42A5F5;
    --chart-color-3: #FFCA28;
    --chart-color-4: #26A69A;
    --chart-color-5: #AB47BC;
  }
  